.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.reg
_book
_bookdown_files
cor_coxph/output/controlled_ve_curves_mock.pdf
cor_coxph/output/CoR_D57_univariable_svycoxph_cat_pretty_mock.tex
cor_coxph/output/CoR_D57_univariable_svycoxph_pretty_mock.tex
cor_coxph/output/CoR_univariable_svycoxph_mock.tex
cor_coxph/output/hr_forest_bindRBD_mock.pdf
cor_coxph/output/hr_forest_bindSpike_mock.pdf
cor_coxph/output/hr_forest_marginal_bindRBD_mock.pdf
cor_coxph/output/hr_forest_marginal_bindSpike_mock.pdf
cor_coxph/output/hr_forest_marginal_pseudoneutid50_mock.pdf
cor_coxph/output/hr_forest_marginal_pseudoneutid80_mock.pdf
cor_coxph/output/hr_forest_pseudoneutid50_mock.pdf
cor_coxph/output/hr_forest_pseudoneutid80_mock.pdf
cor_coxph/output/marginal_risks_cat_mock.pdf
cor_coxph/output/marginalized_risks_mock.pdf
cor_coxph/output/marginalized_risks_woplacebo_mock.pdf
cor_coxph/output/binaryloess_mock.pdf
cor_coxph/output/coef.sens.mock.Rdata
cor_coxph/output/CoR_Day57pseudoneutid80_5cases_Firth_mock.tex
cor_coxph/output/CoR_Day57pseudoneutid80_5cases_mock.tex
cor_coxph/output/CoR_Day57pseudoneutid80_sens_noCases_mock.tex
cor_coxph/output/cutpoints_Day57bindRBD_mock
cor_coxph/output/cutpoints_Day57bindSpike_mock
cor_coxph/output/cutpoints_Day57pseudoneutid50_mock
cor_coxph/output/cutpoints_Day57pseudoneutid80_mock
cor_coxph/output/cutpoints_Delta57overBbindRBD_mock
cor_coxph/output/cutpoints_Delta57overBbindSpike_mock
cor_coxph/output/cutpoints_Delta57overBpseudoneutid50_mock
cor_coxph/output/cutpoints_Delta57overBpseudoneutid80_mock
cor_coxph/output/gam_mock.pdf
cor_coxph/output/timepoints_cum_risk_mock
cor_coxph/report.pdf
cor_coxph/output/marginalized_risks_cat_mock.pdf
cor_coxph/output/cutpoints_Day57liveneutmn50_mock
cor_coxph/output/cutpoints_Delta57overBliveneutmn50_mock
cor_coxph/output/hr_forest_liveneutmn50_mock.pdf
cor_coxph/output/hr_forest_marginal_liveneutmn50_mock.pdf
