.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store
*.reg
*.log
_book
_bookdown_files
packages.bib
cor_threshold/figs/simultaneous_CI/*.rds
cor_threshold/figs/pointwise_CI/*.rds
# ignore build directories
_report_immuno/*.pdf
_report_immuno/*.html
_report_riskscore/*.pdf
_report_riskscore/*.html
_report_cor/*.pdf
_report_cor/*.html
_report_cop/*.pdf
_report_cop/*.html
data_clean/.README.md.swp
cor_coxph/output/D57/.gitkeep
cor_coxph/output/D57/.gitkeep
cor_coxph/output/D29/.gitkeep
cor_coxph/report - Copy.tex
cor_coxph/report_sub - Copy.Rmd
covpn_correlates_cor.Rmd
covpn_correlates_cor.tex
._bookdown_cor.yml.swp
cor_coxph/cor_coxph_report.tex
data_clean/verification/dat_clean_specifications.aux
data_clean/verification/dat_clean_specifications.knit.md
data_clean/verification/dat_clean_specifications.out
data_clean/verification/dat_clean_specifications.utf8.md
data_clean/verification/dat_clean_specifications.tex
data_clean/practice_data.zip
data_raw/data_raw.zip
cor_coxph/output/D29/cutpoints_Day29bindRBD_mock
cor_coxph/output/D29/cutpoints_Day29bindSpike_mock
cor_coxph/output/D29/cutpoints_Day29pseudoneutid50_mock
cor_coxph/output/D29/cutpoints_Day29pseudoneutid80_mock
cor_coxph/output/D29/cutpoints_Delta29overBbindRBD_mock
cor_coxph/output/D29/cutpoints_Delta29overBbindSpike_mock
cor_coxph/output/D29/cutpoints_Delta29overBpseudoneutid50_mock
cor_coxph/output/D29/cutpoints_Delta29overBpseudoneutid80_mock
cor_coxph/output/D57/cutpoints_Day57bindRBD_mock
cor_coxph/output/D57/cutpoints_Day57bindSpike_mock
cor_coxph/output/D57/cutpoints_Day57pseudoneutid50_mock
cor_coxph/output/D57/cutpoints_Day57pseudoneutid80_mock
cor_coxph/output/D57/cutpoints_Delta57overBbindRBD_mock
cor_coxph/output/D57/cutpoints_Delta57overBbindSpike_mock
cor_coxph/output/D57/cutpoints_Delta57overBpseudoneutid50_mock
cor_coxph/output/D57/cutpoints_Delta57overBpseudoneutid80_mock
cor_coxph/verification/cor_coxph_specifications.aux
cor_coxph/verification/cor_coxph_specifications.out
cor_coxph/verification/cor_coxph_specifications.pdf
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/bin/renv
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/bin/renv.bat
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/config.yml
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/DESCRIPTION
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/ci.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/ci.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/ci.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/collaborating.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/collaborating.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/collaborating.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/docker.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/docker.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/docker.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/faq.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/faq.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/faq.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/index.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/local-sources.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/local-sources.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/local-sources.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/lockfile.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/lockfile.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/lockfile.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/mran.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/mran.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/mran.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/packages.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/packages.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/packages.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/profiles.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/profiles.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/profiles.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/python.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/python.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/python.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/renv.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/renv.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/renv.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/rsconnect.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/rsconnect.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/rsconnect.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/use.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/use.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/doc/use.Rmd
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/help/AnIndex
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/help/figures/logo.svg
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/help/renv.rdb
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/help/renv.rdx
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/00Index.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/activate.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/checkout.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/clean.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/config.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/consent.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/deactivate.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/dependencies.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/diagnostics.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/embed.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/equip.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/history.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/hydrate.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/imbue.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/init.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/install.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/isolate.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/load.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/lockfile.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/lockfiles.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/migrate.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/modify.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/paths.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/project.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/purge.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/R.css
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/rebuild.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/record.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/refresh.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/rehash.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/remote.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/remove.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/renv-package.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/restore.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/revert.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/run.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/scaffold.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/settings.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/snapshot.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/status.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/update.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/upgrade.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/use.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/html/use_python.html
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/INDEX
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/LICENSE
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/NAMESPACE
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/NEWS.md
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/R/renv
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/R/renv.rdb
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/R/renv.rdx
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/resources/activate.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/resources/scripts-git-askpass.sh
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/resources/scripts-repos-cache.R
data_clean/renv/library/R-4.0/x86_64-w64-mingw32/renv/resources/WELCOME
cor_coxph/cor_coxph_report.knit.md
cor_coxph/cor_coxph_report.out
cor_coxph/cor_coxph_report.aux
cor_coxph/cor_coxph_report.utf8.md
data_clean/.Rprofile
data_clean/renv/activate.R
data_clean/practice_data without 29.zip
data_clean/practice_data with D29.zip
cor_coxph/output/D57/controlled_ve_curves2_mock.pdf
cor_coxph/output/D29/controlled_ve_curves1_mock.pdf
cor_coxph/output/D57/controlled_ve_curves1_mock.pdf
cor_coxph/output/D29/controlled_ve_curves2_mock.pdf
