.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.reg
*.log
_book
_bookdown_files

packages.bib

cor_graphical/figs/*.pdf
cor_graphical/figs/*.png
cor_graphical/data_clean/*.rds

cor_coxph/output/*.tex
cor_coxph/output/*.pdf
cor_coxph/output/*.Rdata
cor_coxph/output/risks.all.1.mock.Rdata.Rdata
cor_coxph/output/cutpoints*
cor_coxph/cor_coxph_report.pdf
cor_coxph/output/timepoints_cum_risk_mock
cor_coxph/report.knit.md
cor_coxph/report.utf8.md
cor_coxph/report.pdf
cor_coxph/cor_coxph_report.pdf

cor_nonlinear/output/*.pdf
cor_nonlinear/cor_nonlinear_report.pdf
cor_coxph/output/CoR_D57_mean_followup_time_vacc_mock
cor_coxph/output/CoR_D57_max_followup_time_vacc_mock
cor_coxph/output/D29/controlled_ve_curves_mock.pdf
cor_coxph/output/D29/CoR_max_followup_time_vacc_mock
cor_coxph/output/D29/CoR_mean_followup_time_vacc_mock
cor_coxph/output/D29/CoR_univariable_svycoxph_cat_pretty_mock.tex
cor_coxph/output/D29/hr_forest_bindRBD_mock.pdf
cor_coxph/output/D29/hr_forest_bindSpike_mock.pdf
cor_coxph/output/D29/hr_forest_marginal_bindRBD_mock.pdf
cor_coxph/output/D29/hr_forest_marginal_bindSpike_mock.pdf
cor_coxph/output/D29/hr_forest_marginal_pseudoneutid50_mock.pdf
cor_coxph/output/D29/hr_forest_marginal_pseudoneutid80_mock.pdf
cor_coxph/output/D29/hr_forest_pseudoneutid50_mock.pdf
cor_coxph/output/D29/hr_forest_pseudoneutid80_mock.pdf
cor_coxph/output/D29/marginalized.risk.1.mock.Rdata
cor_coxph/output/D29/marginalized.risk.2.mock.Rdata
cor_coxph/output/D29/marginalized_risks1_mock.pdf
cor_coxph/output/D29/marginalized_risks1_woplacebo_mock.pdf
cor_coxph/output/D29/marginalized_risks2_mock.pdf
cor_coxph/output/D29/marginalized_risks2_woplacebo_mock.pdf
cor_coxph/output/D29/marginalized_risks_cat_mock.pdf
cor_coxph/output/D29/pvals.perm.mock.Rdata
cor_coxph/output/D29/timepoints_cum_risk_mock
cor_coxph/output/D57/controlled_ve_curves_mock.pdf
cor_coxph/output/D57/CoR_max_followup_time_vacc_mock
cor_coxph/output/D57/CoR_mean_followup_time_vacc_mock
cor_coxph/output/D57/CoR_univariable_svycoxph_cat_pretty_mock.tex
cor_coxph/output/D57/CoR_univariable_svycoxph_pretty_mock.tex
cor_coxph/output/D57/cutpoints_D57bindRBD_mock
cor_coxph/output/D57/cutpoints_D57bindSpike_mock
cor_coxph/output/D57/cutpoints_D57overBbindRBD_mock
cor_coxph/output/D57/cutpoints_D57overBbindSpike_mock
cor_coxph/output/D57/cutpoints_D57overBpseudoneutid50_mock
cor_coxph/output/D57/cutpoints_D57overBpseudoneutid80_mock
cor_coxph/output/D57/cutpoints_D57pseudoneutid50_mock
cor_coxph/output/D57/cutpoints_D57pseudoneutid80_mock
cor_coxph/output/D57/hr_forest_bindRBD_mock.pdf
cor_coxph/output/D57/hr_forest_bindSpike_mock.pdf
cor_coxph/output/D57/hr_forest_marginal_bindRBD_mock.pdf
cor_coxph/output/D57/hr_forest_marginal_bindSpike_mock.pdf
cor_coxph/output/D57/hr_forest_marginal_pseudoneutid50_mock.pdf
cor_coxph/output/D57/hr_forest_marginal_pseudoneutid80_mock.pdf
cor_coxph/output/D57/hr_forest_pseudoneutid50_mock.pdf
cor_coxph/output/D57/hr_forest_pseudoneutid80_mock.pdf
cor_coxph/output/D57/marginalized.risk.1.mock.Rdata
cor_coxph/output/D57/marginalized.risk.2.mock.Rdata
cor_coxph/output/D57/marginalized_risks1_mock.pdf
cor_coxph/output/D57/marginalized_risks1_woplacebo_mock.pdf
cor_coxph/output/D57/marginalized_risks2_mock.pdf
cor_coxph/output/D57/marginalized_risks2_woplacebo_mock.pdf
cor_coxph/output/D57/marginalized_risks_cat_mock.pdf
cor_coxph/output/D57/pvals.perm.mock.Rdata
cor_coxph/output/D57/timepoints_cum_risk_mock
cor_coxph/output/D29/CoR_univariable_svycoxph_pretty_mock.tex
cor_coxph/output/D29/cutpoints_D29bindRBD_mock
cor_coxph/output/D29/cutpoints_D29bindSpike_mock
cor_coxph/output/D29/cutpoints_D29overBbindRBD_mock
cor_coxph/output/D29/cutpoints_D29overBbindSpike_mock
cor_coxph/output/D29/cutpoints_D29overBpseudoneutid50_mock
cor_coxph/output/D29/cutpoints_D29overBpseudoneutid80_mock
cor_coxph/output/D29/cutpoints_D29pseudoneutid50_mock
cor_coxph/output/D29/cutpoints_D29pseudoneutid80_mock
cor_coxph/cor_coxph_report.log
