###################################################################################################
# trials

default: &default
  info: correlates_reporting

ows_trial: &ows_trial
  forestplot_script: cor_coxph_forestplots_ows.R
  is_ows_trial: yes


moderna_trial: &moderna_trial
  <<: *ows_trial
  two_marker_timepoints: yes
  timepoints: [29, 57]
  subset_variable: None
  subset_value: All
  assays: [bindSpike, bindRBD, pseudoneutid50, pseudoneutid80]
  times: [B, Day29, Day57, Delta29overB, Delta57overB, Delta57over29]
  data_raw_dir: moderna
  study_name_code: COVE
  covariates_riskscore: ~.+ MinorityInd + HighRiskInd + risk_score
  covariates_norisksco: ~.+ MinorityInd + HighRiskInd + Age

moderna_real: &moderna_real
  <<: *moderna_trial
  data_in_file: immune1.csv 
  data_cleaned: p3001/download_data/Moderna COVE mRNA 1273P301_immune_20210915/moderna_real_data_processed_with_riskscore.csv
  study_name: COVE
  num_boot_replicates: 1000
  num_perm_replicates: 10000

moderna_mock: &moderna_mock
  <<: *moderna_trial
  data_in_file: COVID_VEtrial_practicedata_primarystage1.csv
  study_name: MockCOVE
  num_boot_replicates: 10
  num_perm_replicates: 10


janssen_trial: &janssen_trial
  <<: *ows_trial
  two_marker_timepoints: no
  timepoints: [29]
  assays: [bindSpike, bindRBD]
  times: [B, Day29, Delta29overB]
  data_raw_dir: janssen
  study_name_code: ENSEMBLE

janssen_trial_real: &janssen_trial_real
  <<: *janssen_trial
  data_in_file: COVID_ENSEMBLE_realdata.csv   #  ../../../mapping_immune_correlates/adata/COVID_ENSEMBLE_realdata.csv
  study_name: ENSEMBLE
  num_boot_replicates: 1000
  num_perm_replicates: 10000

janssen_trial_mock: &janssen_trial_mock
  <<: *janssen_trial
  data_in_file: COVID_ENSEMBLE_practicedata.csv
  primary_assays: [bindSpike, bindRBD] 
  study_name: MockENSEMBLE
  num_boot_replicates: 10
  num_perm_replicates: 10

janssen_pooled_real: 
  <<: *janssen_trial_real
  subset_variable: None
  subset_value: All
  covariates_riskscore: ~.+ risk_score + as.factor(Region)
  covariates_norisksco: ~.+ Age        + as.factor(Region)

janssen_na_real: 
  <<: *janssen_trial_real
  subset_variable: Region
  subset_value: 0
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_la_real: 
  <<: *janssen_trial_real
  subset_variable: Region
  subset_value: 1
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_sa_real: 
  <<: *janssen_trial_real
  subset_variable: Region
  subset_value: 2
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_pooled_mock:
  <<: *janssen_trial_mock
  subset_variable: None
  subset_value: All
  covariates_riskscore: ~.+ risk_score + as.factor(Region)
  covariates_norisksco: ~.+ Age        + as.factor(Region)

janssen_na_mock:
  <<: *janssen_trial_mock
  subset_variable: Region
  subset_value: 0
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_la_mock:
  <<: *janssen_trial_mock
  subset_variable: Region
  subset_value: 1
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_sa_mock:
  <<: *janssen_trial_mock
  subset_variable: Region
  subset_value: 2
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age


###################################################################################################
# correlates analyses

# primary endpoint D57 markers
D57:
  ph1: ph1.D57
  ph2: ph2.D57
  wt: wt.D57
  EventIndPrimary: EventIndPrimaryD57   
  EventTimePrimary: EventTimePrimaryD57   
  tpeak: 57
  tpeaklag: 7
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through 6 days post Day 57 visit; no. cases = number of this cohort with an observed COVID endpoint.

# primary endpoint D29 markers
D29:
  ph1: ph1.D29
  ph2: ph2.D29
  wt: wt.D29
  EventIndPrimary: EventIndPrimaryD29  
  EventTimePrimary: EventTimePrimaryD29
  tpeak: 29
  tpeaklag: 7
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through 6 days post Day 29 visit; no. cases = number of this cohort with an observed COVID endpoint.

# sensitivity analyses for D29 markers, starting at 1, instead of 7, day after D29 visit
D29start1:
  ph1: ph1.D29start1
  ph2: ph2.D29start1
  wt: wt.D29start1
  EventIndPrimary: EventIndPrimaryD29  
  EventTimePrimary: EventTimePrimaryD29
  tpeak: 29
  tpeaklag: 1
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through Day 29 visit; no. cases = number of this cohort with an observed COVID endpoint.
  
  
####################
# two time points 

D29D57:
  tinterm: 29
  tpeak: 57
  tpeaklag: 7
  txt.endpoint: COVID
