data_clean/*.RData
verification/*.RData
verification/*.Rdata
data_clean/*.rda
data_clean/*.rds

output/*.tex
output/*.pdf
output/*.Rdata
output/risks.all.1.mock.Rdata.Rdata
output/cutpoints*
cor_coxph_report.pdf
output/timepoints_cum_risk_mock
report.knit.md
report.utf8.md
report.pdf
cor_coxph_report.pdf

output/CoR_D57_mean_followup_time_vacc_mock
output/CoR_D57_max_followup_time_vacc_mock
output/D29/controlled_ve_curves_mock.pdf
output/D29/CoR_max_followup_time_vacc_mock
output/D29/CoR_mean_followup_time_vacc_mock
output/D29/CoR_univariable_svycoxph_cat_pretty_mock.tex
output/D29/hr_forest_bindRBD_mock.pdf
output/D29/hr_forest_bindSpike_mock.pdf
output/D29/hr_forest_marginal_bindRBD_mock.pdf
output/D29/hr_forest_marginal_bindSpike_mock.pdf
output/D29/hr_forest_marginal_pseudoneutid50_mock.pdf
output/D29/hr_forest_marginal_pseudoneutid80_mock.pdf
output/D29/hr_forest_pseudoneutid50_mock.pdf
output/D29/hr_forest_pseudoneutid80_mock.pdf
output/D29/marginalized.risk.1.mock.Rdata
output/D29/marginalized.risk.2.mock.Rdata
output/D29/marginalized_risks1_mock.pdf
output/D29/marginalized_risks1_woplacebo_mock.pdf
output/D29/marginalized_risks2_mock.pdf
output/D29/marginalized_risks2_woplacebo_mock.pdf
output/D29/marginalized_risks_cat_mock.pdf
output/D29/pvals.perm.mock.Rdata
output/D29/timepoints_cum_risk_mock
output/D57/controlled_ve_curves_mock.pdf
output/D57/CoR_max_followup_time_vacc_mock
output/D57/CoR_mean_followup_time_vacc_mock
output/D57/CoR_univariable_svycoxph_cat_pretty_mock.tex
output/D57/CoR_univariable_svycoxph_pretty_mock.tex
output/D57/cutpoints_D57bindRBD_mock
output/D57/cutpoints_D57bindSpike_mock
output/D57/cutpoints_D57overBbindRBD_mock
output/D57/cutpoints_D57overBbindSpike_mock
output/D57/cutpoints_D57overBpseudoneutid50_mock
output/D57/cutpoints_D57overBpseudoneutid80_mock
output/D57/cutpoints_D57pseudoneutid50_mock
output/D57/cutpoints_D57pseudoneutid80_mock
output/D57/hr_forest_bindRBD_mock.pdf
output/D57/hr_forest_bindSpike_mock.pdf
output/D57/hr_forest_marginal_bindRBD_mock.pdf
output/D57/hr_forest_marginal_bindSpike_mock.pdf
output/D57/hr_forest_marginal_pseudoneutid50_mock.pdf
output/D57/hr_forest_marginal_pseudoneutid80_mock.pdf
output/D57/hr_forest_pseudoneutid50_mock.pdf
output/D57/hr_forest_pseudoneutid80_mock.pdf
output/D57/marginalized.risk.1.mock.Rdata
output/D57/marginalized.risk.2.mock.Rdata
output/D57/marginalized_risks1_mock.pdf
output/D57/marginalized_risks1_woplacebo_mock.pdf
output/D57/marginalized_risks2_mock.pdf
output/D57/marginalized_risks2_woplacebo_mock.pdf
output/D57/marginalized_risks_cat_mock.pdf
output/D57/pvals.perm.mock.Rdata
output/D57/timepoints_cum_risk_mock
output/D29/CoR_univariable_svycoxph_pretty_mock.tex
output/D29/cutpoints_D29bindRBD_mock
output/D29/cutpoints_D29bindSpike_mock
output/D29/cutpoints_D29overBbindRBD_mock
output/D29/cutpoints_D29overBbindSpike_mock
output/D29/cutpoints_D29overBpseudoneutid50_mock
output/D29/cutpoints_D29overBpseudoneutid80_mock
output/D29/cutpoints_D29pseudoneutid50_mock
output/D29/cutpoints_D29pseudoneutid80_mock
cor_coxph_report.log
